@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "datePicker_custom";

/*
  Global styles
*/

.card-rounded {
  position: relative;
  border-radius: 10px;
  background-color: $card-rounded-bg;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  width: 80%;
}


.title-text {
  font-size: 30px;
  font-weight: 400;
}

.divider{
  height: $divider-height;
}


.no-scroll{
  overflow-y: hidden;
}


